/* ここから */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  }

 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
 @import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
  

.body {
 color: #333;
 font-family:"Lato";
 font-family:"Raleway" ;
}

.inner {
  /* コンテンツ幅指定 */
  width:1100px;
  margin: 0 auto;
  text-align: center;
}

.p {
  font-size: 20px;
}

.button{
  color: #f2f2f2;
  transition:auto 0.3s;
  text-decoration: none
}

.button:hover{
  color: #333;
}

.header {
  width: 100%;
}

.header-inner{
 padding: 15px 0;
}

.header_icon{
  float: left;
  font-size: 30px;
  
}


.header_button {
  float:right;
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
}

/* 上手くいったところ */

.title_inner {
  padding: 250px 0;
}

.title {
  width: 100%;
}

.big_title{
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.sub_title{
  font-size: 30px;
  color: #c0c0c0;
}

/* ここまで */

.main {
  background-color: #f2f2f2;
}

.header {
  width: 100%;
}

.section_green {
  width: 100%;
  background-color: #74cfae;
  overflow: auto;
}

.inner_section_green{
  padding-top: 50px;
}

.figure_aaa {
  float: left;
}

.section_green_titel{
  font-size: 24px;
  margin-bottom: 35px;
  color:  #f2f2f2;
}

.section_green_text {
  font-size: 20px;
  color: #f2f2f2;
}

/* ↓float:left;でどうにかしたいけどできてないとこ */

.article {
 width: 100%;
}

.inner_article {
  padding-top: 60px;
  font-size: 24px;
  
}

.article_title  {
  font-size: 24px;
}

/* 画像　折り返し */

.items_article {
  margin-left: 100px;
  margin-bottom: 80px;
  float: left;
  transition: auto 0.3s;
  opacity: 0.7 ;
}

.items_article:hover{
  opacity: 1 ;
}


.items_article:first-child{
  margin-left: 0;
} 

/* まとめられないのか？ */
.items_article:nth-child(4) {
  margin-left: 0;
}

.items_article :nth-child(n+4) {
  float: left;
}


.article_text {
  margin-top: 90px;
  padding-bottom: 70px;
  float: left;
}

.article_button{
  float: left;
  margin-top: 90px;
  margin-left: 90px;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
}

/* .article_button:hover{
  color: #333;
} */

.section_gray {
  width: 100%;
  background-color: #4e4e4e;
  overflow: auto;
}

.section_gray_inner {
  padding-top: 70px;
}

.section_title {
  font-size: 24px;
  color: #f2f2f2;
  text-align: center;
}

.section_gray_items {
  float: left;
  margin-left: 180px;
  padding-bottom: 100PX;
}

.section_gray_items:first-child {
  margin-left: 0;
}

.section_subtitle {
  font-size: 16px;
  color: #f2f2f2;
}

.nav{
  width: 100%;
}

.inner_nav{
  padding: 200px 0;
  
}

.icon_size {
  width: 185px;
  padding: 30px 0;
  color: #74cfae;
  font-size: 50px;
  background-color:#f2f2f2;
  transition: all 0.3s;
  cursor: auto;
}

.icon_size:hover{
  background-color: white;
  cursor:pointer;
}

.footer {
  width: 100%;
}

.inner_footer{
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_text {
  float: right;  
}


/* ここまで */
