/* ここから */

.body {
 color: #333;
}

.inner {
  /* コンテンツ幅指定 */
  width:1100px;
  margin: 0 auto;
  text-align: center;
}

.p {
  font-size: 20px;
}

/* 上手くいったところ */

.title_inner {
  padding: 250px 0;
}

.title {
  width: 100%;
}

.big_title{
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.sub_title{
  font-size: 30px;
  color: #c0c0c0;
}

/* ここまで */

.main {
  background-color: #f2f2f2;
}

.header {
  width: 100%;
}

.section_green {
  width: 100%;
  background-color: #74cfae;
  overflow: auto;
  
}

.inner_section_green{
  padding-top: 50px;
}

.figure_aaa {
  float: left;
}

.section_green_titel{
  font-size: 24px;
  margin-bottom: 35px;
  color:  #f2f2f2;
}

.section_green_text {
  font-size: 20px;
  color: #f2f2f2;
}

/* ↓float:left;でどうにかしたいけどできてないとこ */

.article {
 width: 100%;
}

.inner_article {
  padding-top: 60px;
  font-size: 24px;
  
}

.article_title  {
  
}

/* 画像　折り返し */
.img_article_container {
  float: left;
}

.items_article {
  margin-left: 100px;
  margin-bottom: 80px;
  float: left;
}

.items:first-child {
  margin-left: 0;
} 

.items_article :nth-child (n+4) {
  float: left;
}

/* 折り返し先のmarginはどうすれば？ */


.article_text {
  margin-top: 90px;
  padding-bottom: 70px;
}

/* gray */

.section_gray_box {

}

.section_gray {
  width: 100%;
  background-color: #4e4e4e;
  overflow: auto;
}

.section_gray_inner {
  padding-top: 70px;
}

.section_title {
  font-size: 24px;
  color: #f2f2f2;
  text-align: center;
}

.section_gray_contensbox {
  
}

.section_gray_items {
  float: left;
  margin-left: 180px;
  padding-bottom: 100PX;
}

.section_gray_items:first-child {
  margin-left: 0;
}


.section_subtitle {
  font-size: 16px;
  color: #f2f2f2;
}

.nav{
  width: 100%;
}

.inner_nav{
  padding-top: 200px;
  padding-bottom: 250px;
}

.footer {
  width: 100%;
}

.inner_footer{
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_text {
  float: right;  
}


/* ここまで */
